//= require jquery-ui/sortable
//= require jstree
//= require_tree .
//= require_self
@import 'foundation_and_overrides';

$bar-color: #000;

body {
  background-image: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

hr {
  margin-bottom: 3px;
  margin-top: 3px;
}

.uploader-progress-bars {
  .upload {
    margin-top: 12px;
    width: 100%;
  }
  .progress {
    border: 0;
    height: 16px;
    margin: 0;
    padding: 0;
  }
  .bar {
    background: $bar-color;
    height: 16px;
  }
}