$photo-actions-bg: #fff;
$photo-thumbnail-bg: #d3d3d3;

.photos {
  clear: both;
  list-style-type: none;
  margin: 0;
  padding-top: 7px;

  .photo-thumbnail {
    border: 1px solid $photo-thumbnail-bg;
    cursor: pointer;
    display: none;
    float: left;
  }

  .photo-cover {
    height: 192px;
    position: relative;
    width: 256px;

    .processing {
      margin-left: 95px;
      margin-top: 63px;
      position: fixed;
    }
  }

  .photo-actions {
    background-color: $photo-actions-bg;
    bottom: 0;
    display: none;
    height: 32px;
    line-height: 32px;
    min-height: 32px;
    opacity: .75;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    width: 100%;
  }
}
