<script id="template-upload" type="text/x-tmpl">
  <div id="file-{%=o.unique_id%}" class="upload">
    <div class="row">
      <div class="columns">
        <div class="left">
          {%=o.name%}
        </div>
        <div class="right">
          <a class="progress-bar-remove">
            &#215;
          </a>
        </div>
      <div>
    </div>
    <div class="row">
      <div class="columns">
        <div class="progress">
          <div class="bar" style="width: 0%">
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
